.card 
{
    
    width: 500px;
    max-width: 90%;
    min-height: 300px;
    text-align: center;
    background-color: #1B1818;
    border-radius: 20px;
}

.headingwraper
{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 20px;
     margin-top: 20px;
}

.heading 
{
    font-size:24px;
    font-weight: bold;
    margin-left: 10px;
    color: #C4C4C5;

}
