
.cardwrapper
{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text
{
    color: #FFFFFF;
    line-height: 1.5;
    margin-bottom: 30px;
    
}

.signin
{
    margin-top: 12px;
}

.spantext
{
    color: #0077FF;
}